/*
font-family: pragmatica-extended, sans-serif;
font-weight: 300(light) / 400(book)/ 500(medium)
700(bold) / 800(extra bold) / 900 (black);
font-style: normal;
*/
* {
    margin:0;
    padding:0;
}

/*Estilo general*/
.background{
    background-color: #1e1e1e;
}
.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.subtitle {
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.subtitle__chico{
    font-size: 28px;
}
.content {
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 300;
    font-size: 18px; 
    color: #ffffff;
}
a {
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #07f62f;
}

/*BARRA DE NAVEGACION*/
header {
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.nav__h1{
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 100px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
ul li a {
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/*FOOTER*/
.footer{
   font-family: 'pragmatica-extended', sans-serif;
   font-weight: 300;
   font-size: 12px;
   color: white;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   padding:25px;
   padding-left: 50px;
}
.footer__gradient{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

/*Estilo del Home*/
.home {
    background-image: url(../assets/img/background-image-70porcientopng.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.andalaosa{
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.andalaosa__subtitle {
    font-family: 'pragmatica-extended', sans-serif;
    font-weight: 800;
    font-size: 23px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.osa{
    padding-top: 150px;
    padding-bottom: 70px;
}

/*Sobre nosotros*/
.bear_power{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    height: 200px;
    margin: 3%;
}
.bear_title {
    text-align: center;
    padding-left: 20%;
}
.bear_descripcion{
    font-size: 20px;
    text-align: end;
    padding-left: 20%;
    padding-right: 20%;
}
.emi {
    background-image: url(../assets/img/emi.png);
}
.mica {
    background-image: url(../assets/img/mica.png);
}
.crew {
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text_left{
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 55%;
    padding-bottom: 15%;
}
.text_right{
    padding-top: 10%;
    padding-left: 55%;
    padding-right: 15%;
    padding-bottom: 15%;
    text-align: end;
}

/*Servicios*/
.servicios {
    background-image: url(../assets/img/servicios.jpg);
    background-position: center;
    background-size: cover;
    height: 1200px;
}
.servicios__what_we_do{
    padding-top: 8%;
    padding-right: 25%;
    padding-left: 25%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.servicios__items{
    display: grid; 
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.servicios__items__cajitas {
    padding: 15%;
}


/*Portfolio*/
.gallery {
    text-align: center;
}

.play:hover{
    opacity: 50%;
}

/*Contacto*/
.contenido_contacto{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 5%;
   
}
.formulario{
   justify-content: center;
}
.data{
    display: flex;
    justify-content: start;
    align-items: center;
}


/*****  MEDIA QUERIES  *****/

@media screen and (max-width:576px)
{
    /*BARRA DE NAVEGACION*/
    .nav__h1{
        font-size: 20px;
    }
    nav{
        flex-direction: column;
        height: 250px;
    }
    ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    ul li a {
        font-size: 13px;
    }

    /*HOME*/
    .andalaosa{
        font-size: 35px;
    }
    .andalaosa__subtitle {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .osa{
        width:270px;
    } 

    /*Sobre Nosotros*/
    .bear_power{
        flex-direction: column;
        height: 700px;
    }
    .bear_title {
        font-size: 40px;
        padding-left: 0%;
    }
    .bear_descripcion{
        font-size: 20px;
        text-align: center;
    }
    .emi {
        height: 900px;
        background-position-x:80%;
        background-position-y: 40%;
    }
    .mica {
        height: 900px;
        background-position-x: 35%;
        background-position-y: 70%;
    }
    .text_left{
        text-align: center;
        padding-top: 75%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
    }
    .text_right{
        text-align: center;
        padding-top: 75%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
    }

    /*Servicios*/
    .servicios {
        height: 1500px;
    }
    .servicios__what_we_do{
        padding-right: 15%;
        padding-left: 15%;
    }
    .servicios__items{
        grid-template-columns:1fr;
        grid-template-rows: auto auto auto;
        padding-top: 10%;
        padding-left: 25%;
        padding-right: 25%;
    }
    .servicios__items__cajitas {
        padding: 5%;
    }

    /*CONTACTO*/
    .contenido_contacto{
        display: flex;
        flex-direction: column;
       
    }
    .data{
        justify-content: center;
        padding: 5%;
    }
}

@media (min-width:577px) and (max-width:768px)
{
    /*BARRA DE NAVEGACION*/
    .nav__h1{
        font-size: 23px;
    }
    nav{
        flex-direction: column;
        height: 250px;
    }
    ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    ul li a {
        font-size: 15px;
    }

    /*HOME*/
    .andalaosa{
        font-size: 35px;
    }
    .andalaosa__subtitle {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .osa{
        width:270px;
    } 

    /*Sobre Nosotros*/
    .bear_power{
        flex-direction: column;
        height: 600px;
    }
    .bear_title {
        font-size: 40px;
        padding-left: 0%;
    }
    .bear_descripcion{
        font-size: 20px;
        text-align: center;
    }
    .emi {
        height: 900px;
        background-position-x:80%;
        background-position-y: 40%;
    }
    .mica {
        height: 900px;
        background-position-x: 35%;
        background-position-y: 70%;
    }
    .text_left{
        text-align: center;
        padding-top: 60%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
    }
    .text_right{
        text-align: center;
        padding-top: 60%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
    }

    /*Servicios*/
    .servicios {
        height: 1300px;
    }
    /*CONTACTO*/
    .contenido_contacto{
        display: flex;
        flex-direction: column;
       
    }
    .data{
        justify-content: center;
        padding: 5%;
    }
}
